body {
  background-color: #BDBDBD;
  font-size: 1.75em;
}

.buttonContainer {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  margin: 1em;
}

#sconeHeader {
  display: flex;
  justify-content: center;
  background: #607D8B;
  color: white;
  padding: .25em;
  border-radius: 4em;
  border: dotted black 6px;
  margin: 1em;
  box-shadow: 5px 10px 10px black;
  font-size: 3em;
}

em {
  color: red;
}

.btn {
  font-size: 1em;
  margin: .5em;
  padding: .5em;
  border-radius: 1em;
  border: solid white 3px;
  box-shadow: 5px 10px 10px black;
  color: white;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  color: white;
}

input {
  margin-left: 1em;
}